lightning==2.4.0
faiss-gpu
pytorch-metric-learning
pandas==2.2.3
tensorboard==2.18.0
rich==13.9.4
scikit-learn==1.6.1
einops==0.8.1
ipython==8.35.0
ipykernel==6.29.5
einx==0.3.0
pycolmap==3.11.1
transformers==4.51.3
h5py==3.13.0
omegaconf==2.3.0
networkx==3.4.2
plotly
ipywidgets
imageio
gradio
viser
roma
hydra-core
hydra-colorlog
hydra-optuna-sweeper
trimesh
pyglet<2
huggingface-hub[torch]>=0.2
accelerate
cython